@charset "UTF-8";


htmp,body{
	margin: 0;
	padding: 0;
}

 #totalwrap{
 	min-height: 100vh;
 	position: relative;
 	width: 100%; 
 }
section{
	padding-bottom: 100px;
}
#mainSection{
	background-image: url("../img/shoppingmall/shoppingmall/main/ShoppingmallMainIMG.jpg");
}

#mainBtn{
	text-align: center;
	margin-bottom: 30px;
}
#mainBtn > a{
	width: 150px;
}
#mainBtn > .detailBtn{
	background: #111111;
    border: 1px solid rgba(255, 255, 255, 0.75);
    color: floralwhite;
}
 
/* navë°”-------------------------------------------------------------------------------------------*/

nav .logo {
  float: left;
  margin-left: 30px;
}

nav .logo a {
  font-size: 28px;
  line-height: 80px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}

nav .logo em {
  font-style: normal;
  font-weight: 200;
}

nav {
  background: black;
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  left: 0;
  z-index: 300;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.menu-icon {
  background: transparent;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  margin: 15px 39px 0 auto;
  position: relative;
  cursor: pointer;
  transition: background 0.5s;
  border-radius: 5px;
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0.5s ease-in-out;
}

.menu-icon span:before {
  left: 0;
  top: -10px;
}

.menu-icon span:after {
  left: 0;
  top: 10px;
}

.menu-icon.active {
  background: rgba(250,250,250,0.2);
}

.menu-icon.active span {
  background-color: transparent;
}

.menu-icon.active span:before,
.menu-icon.active span:after {
  top: 0;
}

.menu-icon.active span:before {
  transform: rotate(135deg);
}

.menu-icon.active span:after {
  transform: rotate(-135deg);
}


/*FOOTER-------------------------------------------------------------*/
#footer{
   position:fixed;
   bottom:0px;
   left:0;
   width:100%; 
   bottom: 0px;
   border-top:4px;
  }
 